# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables and settings
.env
*.env

# Ignore virtual environment directory
venv/
env/
.virtualenv/

# Ignore Django migration files
*/migrations/*.py
!*/migrations/__init__.py

# Ignore database files
*.sqlite3
*.db

# Ignore static and media files (optional)
staticfiles/
media/

# Ignore IDE/editor configurations
.vscode/
.idea/
Lib/

# Ignore any logs
*.log

# Ignore coverage and test result files
htmlcov/
.tox/
.coverage
*.cover
coverage.xml
*.log

# Ignore other
*.pot
*.pyc
*.pyo
.DS_Store
Thumbs.db
